body{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(241, 241, 241);
    
}

*{
    font-family: 'Commissioner', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}


[class*='square']{
    position: absolute;
    border-radius: 50%;   
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;  
    transition:0.05s ease-in-out; 
    -webkit-transition: 0.05s ease-in-out;
    -moz-transition: 0.05s ease-in-out;
    -o-transition: 0.05s ease-in-out;   
    animation: pop 1s; 
}

html {
    cursor: url(./dot.png) 4 12,auto;    
}


.menu{
    background-color: rgb(92, 92, 92);
    padding: 1em;
    z-index: 100000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#ball-num{
    padding: 0.5em;
    border-radius: 15px;
    border:none;
    background-color: rgb(204, 204, 204);    
    transition: 0.1s ease-in-out;    
    margin-left: 0.5em;
}

button {
    background-color: rgb(114, 114, 114);
    margin-left: 1em;
    padding: 0.5em;
    border-radius: 15px;
    border: none;
    width: 8em;
    transition: 0.2s ease-in-out;
}

button:focus{
    outline: 0;
}

button:hover{
    background-color: rgb(204, 204, 204);
}

button:active{
    background-color: rgb(66, 66, 66);
}



#ball-num:focus{
    outline: 0;
}


.carre{
    position: absolute;
    border-radius: 5px;   
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;        
    animation: pop 1s;
}

.loose {
    animation: shake 1s infinite;
}


@keyframes shake {
    0%{
        transform: rotate(-2deg);
    }
    75%{
        transform: scale(1.3);
    }
    100%{
        transform: rotate(2deg) scale(1);
    }
}



@keyframes pop {
    0%{
        transform: scale(0);
    }
    75%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.result{
    position: absolute;
    z-index: 100000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: none;
    background-color: rgba(66, 66, 66,0.85);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.result-text {
    animation: pop 1s;    
    background-color: rgb(66, 66, 66);
    padding: 1em;
    width: 10em;
    border-radius: 15px;
    text-align: center;    
}
