body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    position: relative;

}


.square{
    height: 5em;
    width: 5em;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    transition: 1s;
}