body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    position: relative;

}


[class*='square']{
    height: 2em;
    width: 2em;
    position: absolute;
    background-color: red;
    border-radius: 50%;
   
}
